[submodule "Simulation/mavlink-router"]
	path = Simulation/mavlink-router
	url = https://github.com/mavlink-router/mavlink-router.git
[submodule "Simulation/PX4-Autopilot"]
	path = Simulation/PX4-Autopilot
	url = git@github.com:PX4/PX4-Autopilot.git
